@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.caligraphy-text {
  font-family: "Inspiration", cursive;
}

.navigation-item {
  display: inline-block;
  position: relative;
  @apply cursor-pointer p-2 font-serif font-semibold italic;
}

.navigation-item::before {
  content: "";
  position: absolute;
  left: -0.125rem;
  bottom: 0.75rem;
  width: calc(100% - 0.75rem);
  height: 2px;
  background-color: PapayaWhip;
  opacity: 0.6;
  transition: all 0.25s ease-out;

  @apply mx-2;
}

.navigation-item:hover::before {
  /* height: 1.25rem; */
  height: 0.4rem;
}
